@font-face {
  font-family: 'Formular Regular';
  src: local('Formular Regular'),
  local('Formular-Regular'),
  url('../fonts/Formular Regular.woff2');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
