@use 'mixins' as *;

body {
  background-color: var(--color-app-bg);
  font-family: var(--font-base);
  letter-spacing: -4%;

  padding-inline: 2%;

  font-size: 16px;
  line-height: 24px;

  h1 {
    @include fluid-text(72, 32);
    @include fluid-line(76, 40);

    font-family: inherit;
    font-style: normal;
    font-weight: 500;
  }

  h2 {
    @include fluid-text(24, 18);
    @include fluid-line(32, 26);

    font-family: inherit;
    font-style: normal;
    font-weight: 500;
  }

  h4 {
    @include fluid-text(24, 18);
    @include fluid-line(32, 26);

    font-family: inherit;
    font-style: normal;
    font-weight: 500;
  }

  button p {
    @include fluid-line(24, 22);

    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
  }

  p {
    font-size: 16px;
    line-height: 24px;
    font-family: inherit;
    font-style: normal;
    font-weight: 400;
  }
}