@use 'media' as *;

@mixin fluid-text($max: 40, $min: 12) {
  font-size: clamp(#{$min}px, #{$max / 1440 * 100}vw, #{$max}px);
}

@mixin fluid-line($max: 30, $min: 24) {
  line-height: clamp(#{$min}px, #{$max / 1440 * 100}vw, #{$max}px);;
}

@mixin text-small {
  @include fluid-line(22, 20);

  font-size: 14px;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
}

@mixin text-accent {
  @include fluid-line(28, 26);
  @include fluid-text(20, 18);

  font-family: inherit;
  font-style: normal;
  font-weight: 400;
}

@mixin text-caption {
  font-size: 12px;
  line-height: 16px;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
}

@mixin reset-link {
  color: inherit;

  &,
  &:hover {
    text-decoration: none;
  }
}

@mixin reset-button {
  padding: 0;
  background-color: transparent;
  border: none;
}

@mixin no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

.hidden {
  display: none !important;
}

.hidden-mobile {
  @include mobile {
    display: none !important;
  }
}

.visible-mobile {
  @include mobile-above {
    display: none !important;
  }
}