:root {
  --color-app-bg: #F3F3F4;
  --color-element: #FFFFFF;
  --color-divider: #DEDEDE;
  --color-border: #DEDEDE;

  --color-purple: #4D2E7B;
  --color-orange: #FBA637;
  --color-orange-light: #FFEAD4;
  --color-orange-dark: #FF9710;

  --color-font: #232424;
  --color-font-alt: #858B94;
  --color-font-contrast: #FFFFFF;


  --font-base: 'Formular Regular', sans-serif;

  --container-width: 1440px;
  --container-padding-x: 20px;
}